// _image-dropzone.scss

img#img-preview {
  height: 100px;
  width: 75px;
}

div.dropzone {
  width: 300px;
  height: 200px;
  border-style: dashed;
  margin: auto;
}

.OCR-processing-button {
  margin: 20px;
}

.fa-check-circle{
  color: green;
}

.dropzone-contents {
  // TODO: Improve the padding-top this to make it more reactive!
  padding-top: 50px;
  margin: 10px;
  text-align: center;
}
