// _image-dropzone.scss

img#img-preview {
  height: 100px;
  width: 75px;
}

div.dropzone {
  width: 300px;
  height: 200px;
  border-style: dashed;
  margin: auto;
}


.fa-check-circle {
color: green;
}

.fa-5x {
  margin-left: 40%;
  padding-top: 20%;
}

.dropzone-contents {
  padding-top: 20%;
  margin: 10px;
  text-align: center;
}
